.components-musiclist {
    .timeline {
        height: 66px;
        line-height: 66px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid #ccc;

        label {
            cursor: pointer;
        }

        .focus {
            color: #2f9842;
        }
    }
}